/* barang */
.barang-form-wrapper {
    max-width: 1050px;
}

.barang-form-wrapper .card,
.barang-form-wrapper .box {
    border-radius: 10px;
}

.barang-form-wrapper .box-body,
.barang-form-wrapper .card-body {
    padding: 30px !important;
}

.barang-form-wrapper .form-group {
    margin-bottom: 22px;
}

.barang-form-wrapper .form-control {
    border-radius: 6px;
}

.barang-form-wrapper .btn {
    border-radius: 6px;
}
.badge-kategori {
    background: #e5e7eb;
    color: #1e3a8a;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}
.status-aktif {
    background: #dcfce7;
    color: #166534;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

.status-nonaktif {
    background: #fee2e2;
    color: #991b1b;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}
/* penyewaan */
.status-dp {
    background: #fef3c7;
    color: #92400e;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

.status-lunas {
    background: #dcfce7;
    color: #166534;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}
/* Status Penyewaan */
.status-booking {
    background: #fef3c7;
    color: #92400e;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

.status-berlangsung {
    background: #dbeafe;
    color: #1d4ed8;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

.status-selesai {
    background: #dcfce7;
    color: #166534;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}

.status-batal {
    background: #fee2e2;
    color: #991b1b;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}
.payment-box {
    margin-top: 15px;
    padding: 15px;
    background: #f8fafc;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

.payment-row {
    display: flex;
    gap: 15px;
}

.payment-row > div {
    flex: 1;
}

.sisa-pelunasan-wrapper {
    margin-top: 10px;
    margin-bottom: 15px;
}

.sisa-label {
    font-size: 14px;
    font-weight: 600;
    color: #374151;
    margin-right: 5px;
}

.sisa-pelunasan {
    font-size: 14px;
    font-weight: 600;
    color: #dc2626;
}
/* paket */
.paket-form-wrapper {
    max-width: 1050px;
}

.paket-form-wrapper .card,
.paket-form-wrapper .box {
    border-radius: 10px;
}

.paket-form-wrapper .box-body,
.paket-form-wrapper .card-body {
    padding: 30px !important;
}

.paket-form-wrapper .form-group {
    margin-bottom: 22px;
}

.paket-form-wrapper .form-control {
    border-radius: 6px;
}

.paket-form-wrapper .btn {
    border-radius: 6px;
}

.paket-form-wrapper .table {
    margin-bottom: 0;
}
