
.total-pemasukan {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
}

.total-pemasukan-label{
    color:#2E7D32;
    font-size:16px;
    font-weight:600;
}

.total-pemasukan-nominal{
    color:#2E7D32;
    font-size:20px;
    font-weight:700;
}
.status-dp{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;

    background: #fef3c7;
    color: #92400e;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.status-lunas{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;

    background: #dcfce7;
    color: #166534;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
